/* app/globals.css */

/* optional: if you load Poppins via <link> in layout, this will use it */
:root {
  --background: #ffffff;

}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, Arial,
    "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
